body{

  background-image: url("../img/app.jpg");
  background-repeat: no-repeat;
}
.contenuto {
  position: absolute;
  width: 100%;
  height: auto;
  top: 10%;

}
.singoli-a{
  position: relative;
  width: 964px;
  height: 100%;
  background-color: #fff;
  margin-left: 10%;


}
.text{
  margin-top: 10px;
  margin-bottom: 0px;

}
.descrizione{

}
