
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=6e727723c5a61b7aaa447b035db53a11
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress