$admin-bar-offse-top: 50px;

body {
  background-size: cover;
  background-repeat: no-repeat;
}


.menu-item {
  float: none;

}

body.admin-bar{
  #page {
    padding-top: $admin-bar-offse-top;
  }
  .navbar {
    top: $admin-bar-offse-top;
  }
}

#page {
  position: relative;
  width: 964px;
  height: 100%;
  background-color: #fff;
  margin-left: 10%;

  p {
    font-size: 14px;
    color: #4A4A4A;
    margin: 32px 71px;
    line-height: 33px;
    text-align:justify;
    font-weight: 300;
  }

}
