body {
  //background-color: red;
}


#page {
  position: relative;
  width: 964px;
  height: 100%;
  background-color: #fff;
  margin-left: 10%;

  p {
    font-size: 14px;
    color: #4A4A4A;
    margin: 32px 71px;
    line-height: 33px;
    text-align:justify;
    font-weight: 300;
  }
  
}
