body {
  margin: 0;
  height: 100%;
  background-image: url("../img/sfondo.png");
  /*background-repeat: no-repeat;*/
  font-family: 'Lato', sans-serif;
  color: #4A4A4A;


}
p{
    letter-spacing: 1px;
}
h2{
  color: #4A4A4A;
}



/* MENU */

 .navbar{
   position: fixed;
   top: 0;
   text-align: right;
   text-decoration: none;
   width: 100%;
  // height: 100%;
   z-index: 10;
   /*background-color: rgba(255, 255, 255, 0.6); */

 }

.menu{
   list-style: none;
}

ul.menu li {
  display: inline-block;

}
.menu li a{
  text-decoration: none;
  color: #4A4A4A;
  margin: 20px;
  font-size: 15px;
  letter-spacing: 2.5px;
}

.font-effect-anaglyph a:hover {

	text-align: center;
	letter-spacing: 2.5px;
	color: rgba(33, 64, 83, 0.9);
}
.menu li a:hover {
  color: #35E4E8;
  text-decoration: line-through;
}

.menu li.dx{
  margin-right: 54px;
}
/*________ */

.clearfix {
  clear: both;
}

#container{
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;

}

.intro {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  text-align: center;

}
.logo{
  padding-top:25%;
  padding-left: 10%;

}
.contenuto {
  position: absolute;
  width: 100%;
  height: auto;
  top: 100%;
}

.singoli_red {
  position: relative;
  width: 964px;
  height: 429px;
  background-color: #fff;
  margin:  60px 230px;
  border: red solid 12px;
  /* box-shadow: -10px -10px 1px #35E4E8; */

}
.singoli_blue {
  position: relative;
  width: 964px;
  height: 429px;
  background-color: #fff; /* colore per vederlo*/
  margin:  60px 230px;
  border: #35E4E8 solid 12px;
  /*box-shadow: 10px 10px 1px red; */

}



.right_h1{
  font-weight: 400;
  color: #4A4A4A;
  padding-left: 675px;
  padding-top: 32px;
  font-size: 35px;


}
.right_h2{
  font-weight: 400;
  color: #4A4A4A;
  padding-left: 615px;
  padding-top: 32px;
  font-size: 30px;

}

.left_h2{
  font-weight: 400;
  color: #4A4A4A;
  padding-left: 62px;
  padding-top: 32px;
  font-size: 30px;
}



/*carosello*/
.carosello{
  height: 640px;
}

.carousel p {
  font-size: 14px;
  color: #4A4A4A;
  margin: 22px 71px;
  line-height: 33px;
  text-align:justify;
  font-weight: 300;
}
  .slider {
  		width: 50%;
  		margin: 0 auto;
  }

  .slick-slide {
  	margin: 0px 50px;
  }


/*-------------------*/

.footer{
  position:relative;
  background-color: #fff;
  width: 100%;
  height: 200px;
  font-size: 14px;
}
.indirizzo{
  padding: 50px 0px 0px 150px;

  display: inline-block;
}
.recapito
{
  display: inline-block;
  padding: 50px 0px 0px 80px;
}
.mail{

  display: inline-block;
  padding: 50px 0px 0px 80px;

}
.social{
  color: #4A4A4A;
  display: inline-block;
  padding: 0px 100px;




}
.icon{
  padding: 0px 5px;

}
